body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-section {
  position: relative;
  background-image: url('backgound4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  color: white;
}

.first-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


header {
  background-color: white;
  color: black;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin: -12px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 13.5px solid rgb(84, 117, 165);
  box-sizing: border-box
}

.header-left {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}

.header-left img {
  max-width: 100%; /* Ensure the logo doesn't exceed its container */
  margin: 0;
}

.header-left span {
  font-family: 'Dancing Script', cursive;
  font-weight: 300;
  background: linear-gradient(to right, rgba(14,62,129,255) 64%, red 36%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2em;
}

.company-name {
  font-size: 1.2em; /* Adjust the font size as needed */
}

.menu-toggle {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}
.header-right {
  margin-top: 60px;
}
.header-right nav ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
  display: flex;
}

.header-right nav ul a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.0em;
}

.header-right nav a:hover {
  color: rgb(84, 117, 165); /* Change the color to your desired blue shade */
}

.header-right li {
  margin-right: 65px;
}

@media only screen and (max-width: 1200px) {
  .header-right {
    position: relative;
    flex-direction: column;
  }

  .menu-toggle {
    display: block;
  }

  .header-right nav {
    display: none;
    position: absolute;
    top: 100%; /* Position below the header */
    left: -70%; /* Center the nav horizontally */
    width: auto;
    background-color: #fff; /* Add a background color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a card-like effect */
  }

  .header-right nav.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .header-right nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }
  
  .header-right li {
    margin-right: 0; /* Remove the right margin */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }
  
  .header-right li:last-child {
    margin-bottom: 0; /* Remove margin for the last item */
  }
  
  .header-right.show li:last-child {
    margin-bottom: 0; /* Remove margin for the last item */
  }

  .bar {
    transition: 0.4s;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6.3px, 6.3px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform:rotate(-135deg) translate(6.3px, 6.3px);
  }
}

nav a {
  text-decoration: none;
  color: black;
}

section#introduction {
  padding-top: 20%;
  padding-left: 45%;
  text-align: center;
  color: black;
}

section#introduction h2 {
  margin: 0;
  font-size: 50px;
}

section#introduction p {
  margin: 0;
}

section {
  padding: 2em;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}