body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

.first-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: url('Leonardo_Diffusion_XL_I_want_a_image_with_terminal_fresh_wate_1\ \(1\).jpg');
  background-size: cover;
  background-position: center;    
  background-repeat: no-repeat;
  overflow: hidden;
}


.box {
  --mask:
    radial-gradient(88.68px at 50% calc(100% - 121.00px),#000 99%,#0000 101%) calc(50% - 88px) 0/176px 100%,
    radial-gradient(88.68px at 50% calc(100% + 77.00px),#0000 99%,#000 101%) 50% calc(100% - 44px)/176px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

section#introduction {
  padding-top: 20%;
  padding-left: 45%;
  text-align: center;
  color: black;
}

section#introduction h2 {
  margin: 0;
  font-size: 50px;
}

section#introduction p {
  margin: 0;
}

section {
  padding: 2em;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}